package components

templ Logo() {
	<a class="cursor-pointer" hx-get="/dashboard/stub" hx-target="#layout-children" hx-replace-url="/">
		<div class="flex justify-center">
			<h1 class="text-2xl font-bold text-primary dark:text-primary-dark">Yapper</h1>
		</div>
	</a>
}
